<?xml version="1.0"?>
<config>
    <modules>
        <Mgt_Akismet>
            <version>1.0.3</version>
        </Mgt_Akismet>
    </modules>
    <global>
        <blocks>
            <mgt_akismet>
                <class>Mgt_Akismet_Block</class>
            </mgt_akismet>
        </blocks>
        <models>
            <mgt_akismet>
                <class>Mgt_Akismet_Model</class>
            </mgt_akismet>
        </models>
        <helpers>
            <mgt_akismet>
                <class>Mgt_Akismet_Helper</class>
            </mgt_akismet>
        </helpers>
        <events>
            <review_save_before>
                <observers>
                    <mgt_akismet_review>
                        <class>mgt_akismet/observer</class>
                        <method>checkReviewForSpam</method>
                    </mgt_akismet_review>
                </observers>
            </review_save_before>
        </events>
    </global>
    <frontend>
        <routers>
            <contacts>
                <args>
                    <modules>
                        <mgt_akismet before="Mage_Contacts">Mgt_Akismet</mgt_akismet>
                    </modules>
                </args>
            </contacts>
            <mgt_akismet>
                <use>standard</use>
                <args>
                    <module>Mgt_Akismet</module>
                    <frontName>mgtakismet</frontName>
                </args>
            </mgt_akismet>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mgt_akismet translate="title" module="mgt_akismet">
                                            <title>mgt-commerce</title>
                                        </mgt_akismet>
                                    </children>
                                </config>
                            </children>
                        </system>
                   </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
